:root {
    --ff-monospace: monospace;
}

* {
    box-sizing: border-box;
}

body,
header,
main,
footer {
    display: grid;
    place-items: center;
    align-content: center;
}

body {
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 25% 50% 25%;
    gap: 4rem;
    font-family: var(--ff-monospace);
}

header {
    align-self: end;
}

footer {
    align-self: start;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    background-color: black;
}

.cell {
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 3rem;
    background-color: white;
}

.cell--taken {
    cursor: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-score {
    position: relative;
    width: 18rem;
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    gap: 1rem;
    color: #999;
}

.name,
.score {
    color :black;
}

.name {
    z-index: 1;
    font-weight: bold;
}

#name-1 {
    text-align: right;
}

.marker {
    position: absolute;
    bottom: -1.5rem;
    z-index: 0;
    line-height: 3rem;
    font-size: 3rem;
}

#marker-1 {
    left: 0;
}

#marker-2 {
    right: 0;
}

.marker.current::after {
    content: "^";
    position: absolute;
    bottom: -2.75rem;
    left: 0;
    width: 100%;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
}

.controls {
    height: 2rem;
}

#new-round {
    all: unset;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    color: #999;
}

#new-round:hover {
    font-size: .9rem;
}

.hidden {
    display: none !important;
}