:root {
    --ff-monospace: monospace;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--ff-monospace);
}

header {
    height: 10rem;
    display: grid;
    place-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.player-creation {
    display: grid;
    gap: 2rem;
}

.form-field {
    display: grid;
}

label {
    color: #999;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .125rem;
}

input[type="text"] {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #999;
    width: 16rem;
    line-height: 2rem;
    font-family: var(--ff-monospace);
}

input[type="text"]:focus {
    outline: none;
    border-color: black;
}

#btn-start-game,
#btn-new-round {
    margin: 2rem auto;
    align-self: center;
}

.sec-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.game-state {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto 1fr auto;
    gap: 1rem;
    font-size: 1.2rem;
    color :black;
}

.name {
    font-weight: bold;
    position: relative;
}

#name-1 {
    text-align: right;
}

.marker {
    color: #666;
}

.marker::before {
    content: '(';
}

.marker::after {
    content: ')';
}

.name.current::after {
    content: '^';
    position: absolute;
    bottom: -1.5rem;
    right: 0;
}

#name-2.current::after {
    right: unset;
    left: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 2px;
    background-color: black;
}

.cell {
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 3rem;
    background-color: white;
}

.cell--taken {
    cursor: auto;
}

button {
    all: unset;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    color: #999;
}

button:hover {
    font-size: .9rem;
}

.hidden {
    display: none !important;
}